:root {

  --my-color: #1b448f;
  --color-select: #3351a3;
  --color-profile: #1d1b31;
  --color-soft: #a1b2e0;

}

.processes-page h1.tittle {
  display: flex;
  margin-left: 20px;
  max-width: 100%;
  color: black;
}

.processes-page .content-one button.margin-all {
  margin-left: 20px;
  margin-right: 20px;
}

.processes-page .content-one button.btn-outline-success {
  color: var(--my-color);
  background-color: transparent;
  background-image: none;
  border-color: var(--my-color);
}

.processes-page .content-one button.btn-outline-success:hover {
  color: #ffffff;
  background-color: var(--my-color);
  border-color: var(--my-color);
}

.processes-page .content-two select.form-select {
  max-width: 180px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .processes-page h1.tittle {
    margin-left: 20px;
  }

  .processes-page .content-one button.margin-all {
    margin-left: 20px;
    margin-right: 20px;
  }
}