:root {

    --my-color: #1b448f;
    --color-select: #3351a3;
    --color-profile: #1d1b31;
}

.container .card, .modal {
    border: 1px solid var(--color-select);
}

.container .content-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
}

.container .content-card .card.center-register {
    width: calc(80% - 10px);
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.btn-register {
    color: #ffffff;
    background-color: var(--my-color);
}

.btn-register:hover {
    background-color: var(--color-select);
}

.registrations-title {
    color: var(--my-color);
}

.btn-close:hover {
    background-color: red;
    padding: 5px;
}

@media (max-width: 480px) {
    .container .card.center {
      height: 380px;
    }
}