
:root {
  
    --my-color: #1b448f;
    --color-select: #3351a3;
    --color-profile: #1d1b31;
    --color-soft:#a1b2e0;
    
  }
  
  .tittle {
    display: flex;
    margin-left: 50px;
    max-width: 100%;
    color:black;
  }
  
  .margin-all {
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .principal .btn-outline-success{
    color: var(--my-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--my-color);
  }
  .principal .btn-outline-success:hover {
    color: #ffffff; /* Cambia el color del texto al pasar el cursor */
    background-color: var(--my-color);/* Cambia el color de fondo al pasar el cursor */
    border-color: var(--my-color); /* Cambia el color del borde al pasar el cursor */
  }
  
  .principal .form-select{
    max-width: 180px;
    margin-left: 50px;
    
  }

  .btn-size{
    width: 140px;
    height: 36px;
  }
  
  @media (max-width: 768px) {
    .tittle{
      margin-left: 20px; 
    }
    .margin-all{
        margin-left: 20px;
        margin-right: 20px;
    }
  }
  
  /* Modal */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: white;
  border-radius: 5px;
  color: rgb(51, 51, 51);
  display: inline;
  max-height: 570px;
  max-width: 520px;
  outline: none;
  padding: 10px;
}
  
  