@for $i from 0 through 10 { 
    .opc-#{$i} {
      opacity: $i * 0.1;
    }
}
@for $i from 0 through 100 {
  .w-#{$i}d {
    width: $i * 10px;
  }
  .h-#{$i}d {
    height: $i * 10px;
  }
  .z-#{$i} {
    z-index: $i;
  }
}