:root {
    --color-primary: #1b448f;
    --color-primary-select: #3351a3;
    --color-default: #1d1b31;
    --color-gray: #E4E9F7;;
}

.bg-color-primary {
    background-color: var(--color-primary);
}
.bg-color-primary-select {
    background-color: var(--color-primary-select);
}
.bg-color-gray {
    background-color: var(--color-gray);
}
.bg-light-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.bg-light-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.bg-light-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

/* Estilo para Primary (azul claro) */
.bg-light-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}
  
.text-color-primary {
    color: var(--color-primary);
}
.text-color-primary-select {
    color: var(--color-primary-select);
}
.text-color-default {
    color: var(--color-default);
}
.border-color-primary {
    border-color: var(--color-default);
}
.bg-fondo-index {
    background-size: cover;
    min-height: 100vh;
    background-image: url("./assets/fondo.png");
}
.card-w-responsive {
    width: 320px;
    height:270px;
}
.text-responsive {
    font-size: 3vw;
}
.icon-fluid-image {
    width: 80px;
    height: 100px;
    margin: 5px;
}
.iconName-fluid-image {
    width: 180px;
    height: 100px;
    margin: 5px;
}
.icon2-fluid-image {
    width: 80px;
    height: 100px;
    margin: 5px;
}
.iconName2-fluid-image {
    width: 180px;
    height: 100px;
    margin: 5px;
}
.col-part {
    flex: 0 0 50%;
    max-width: 50%;
}
.pl-2 {
    padding-left: 0.5rem !important;
}

@media (max-width: 480px) {
    .card-w-responsive {
        width: 280px;
        height:270px;
    }
    .icon-fluid-image {    
        width: 40px;
        height: 60px;
        margin: 5px;
    }
    .iconName-fluid-image {
        width: 0px;
        height: 0px;
    }
    .icon2-fluid-image {
        width: 65px;
        height: 80px;
        margin: 5px;
    }
    .iconName2-fluid-image {
        width: 150px;
        height: 80px;
        margin: 5px;
    }
    .col-part {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
    }
    .pl-2 {
        padding-left: 1.5rem !important;
    }
}
