/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  
  --my-color: #1b448f;
  --color-select: #3351a3;
  --color-profile: #1d1b31;
  
}
.sidebar-teacher{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--my-color);
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar-teacher.close{
  width: 78px;
}
.sidebar-teacher .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar-teacher .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar-teacher .logo-details .icono {
  transform: translate(+5%, -25%);
  width: 60px;
  height: 80px;
}


.sidebar-teacher .logo-details .unsa {
  transform: translate(+5%, -10%);
  width: 150px;
  height: 65px;
}

.sidebar-teacher .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar-teacher.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar-teacher .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar-teacher.close .nav-links{
  overflow: visible;
}
.sidebar-teacher .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar-teacher .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar-teacher .nav-links li:hover{
  background: var(--color-select);
}
.sidebar-teacher .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}
.sidebar-teacher.close .nav-links li .iocn-link{
  display: block
}
.sidebar-teacher .nav-links li .arrow{
  height: 18px;
  min-width: 40px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar-teacher .nav-links li.showMenu .arrow{
  transform: rotate(-180deg);
}
.sidebar-teacher.close .nav-links .arrow{
  display: none;
}
.sidebar-teacher .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar-teacher .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar-teacher.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar-teacher .nav-links li .sub-menu{
  padding: 6px 6px 0px 80px;
  margin-top: -10px;
  background: var(--color-select);
  display: none;
}
.sidebar-teacher .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar-teacher .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar-teacher .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar-teacher .nav-links li .icon-i{
  color: #fff;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 35px;
}
.sidebar-teacher.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar-teacher.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar-teacher .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar-teacher.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar-teacher .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar-teacher .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-teacher .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-profile);
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar-teacher.close .profile-details{
  background: none;
}
.sidebar-teacher.close .profile-details{
  width: 78px;
}
.sidebar-teacher .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar-teacher .profile-details .profile-content .img-profile{
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  color: #ffffff;
  transition: all 0.5s ease;
}
.sidebar-teacher.close .profile-details img{
  padding: 10px;
}
.sidebar-teacher .profile-details .img-logout{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  color: #ffffff;
  transition: all 0.5s ease;
  cursor: pointer;
}
.sidebar-teacher .profile-details .profile_name,
.sidebar-teacher .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar-teacher.close .profile-details i,
.sidebar-teacher.close .profile-details .profile_name,
.sidebar-teacher.close .profile-details .job{
  display: none;
}
.sidebar-teacher .profile-details .job{
  font-size: 12px;
}
.home-section{
  background: #E4E9F7;
  height: 100%;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  position: absolute;
  overflow: auto;
}
.sidebar-teacher.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  background: #E4E9F7;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
  margin-top: 10px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar-teacher.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar-teacher{
    width: 78px;
  }
  .sidebar-teacher.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar-teacher.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

@media (max-width: 768px) {
  .home-section .home-content .text {
    font-size: 16px;
  }
  .home-section .home-content .bx-menu {
    font-size: 30px;
  }
}
